<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="/assets/images/icon.png" height="100px" width="100px">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label><h1 class="ion-text-center">Login</h1></ion-label>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input name="email" type="email" [(ngModel)]="users.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input name="password" type="password" [(ngModel)]="users.password"></ion-input>
  </ion-item>

  <div class="btn">
    <ion-button expand="block" (click)="login()">Entrar</ion-button>
  </div>
</ion-content>
