.content{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('/assets/images/background.svg');
  background-repeat: repeat;
}
ion-textarea{
 position: absolute;
 width: 100%;
 height: auto;
 margin: 0;
 padding: 0;
 top: 0px;
 left: 0px;
 font-size: 1.5rem;
}
