<ion-header>
  <ion-toolbar color="primary" [hidden]="hasChange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notas</ion-title>
    <ion-buttons slot="end">
      <!-- Open search -->
      <ion-button (click)="searchOpen()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <!-- Add New notes -->
      <ion-button [routerLink]="['/update/new']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search" [hidden]="!hasChange">
    <ion-searchbar name="search" [(ngModel)]="search" (ionChange)="getSearchAll($event)"></ion-searchbar>
    <ion-button color="danger" (click)="searchClose()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </div>
  <!-- Skeleton screen -->
  <div *ngIf="confirm == true">
    <ion-item color="danger">
      <div class="">
        Não há dados disponiveis.
      </div>
    </ion-item>
  </div>
  <!-- Conteudo -->
  <ion-grid *ngIf="notes && hasChange === false">
    <ion-row *ngFor="let n of notes | async">
      <ion-col size="8">
        <ion-item>
          <div [routerLink]="['/update/edit/', n.id]">
            <ion-label>
              <span [innerHTML]="n.description.substr(0,15)"></span>
            </ion-label>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item class="buttons" lines="none">
          <div class="button-delet" (click)="remove(n.id)">
            <ion-button color="danger">
              <ion-icon name="trash-bin-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Search  -->
  <ion-grid *ngIf="hasChange === true">
    <ion-row *ngFor="let ns of dataSearch | async">
      <ion-col size="8">
        <ion-item>
          <div [routerLink]="['/update/edit/', ns.id]">
            <ion-label>
              <span>{{ ns.description }}</span>
            </ion-label>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item class="buttons" lines="none">
          <div class="button-delet" (click)="remove(ns.id)">
            <ion-button color="danger">
              <ion-icon name="trash-bin-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
