<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/update/new']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let n of notes | async">
      <ion-col size="8">
        <ion-item>
          <div [routerLink]="['/update/edit/', n.id]">
            <ion-label maxlength="5">
              {{ n.description }}
            </ion-label>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item class="buttons" lines="none">
          <div class="button-delet" (click)="remove(n.id)">
            <ion-button color="danger">
              <ion-icon name="trash-bin-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
